*{
    margin: 0;
    padding: 0;
}

.container{
    width: 100%;
   height:1000px;
    background-color: #ffffff;
}

.inner-container{
    width: 65%;
    margin: 0 auto;
}

.left-container{
    width: 25%;
    background-color:;
    height: 1000px;
    float: left;
}
.right-container{
    width: 65%;
    
    float: left;
    background-color:;
    height: 1000px;
}

.left-leaf{
    width: 100%;
    height: 18%;
    background-color: rgb(58,119,138);
    border-radius:100%;
    border-bottom-right-radius: 0;
}

.left-side-content{
    height: 82%;
    background-color: rgb(179,215,205);
}
.right-leaf{
    width: 40%;
    height: 18%;
    background-color: rgb(165,209,196);
    border-radius:100%;
    border-bottom-left-radius: 0;
    float: left;
    margin-left: 1%;
    
}
.right-header-content{
    float: left;
    width: 59%;
    height: 18%;
    background-color:#c9c9c9;
    
}
.right-bottom-content{
    float: left;
    width: 100%;
    height: 82%;
    background-color:;
}

.left-bottom-leaf{
    width: 100%;
    height: 100%;
    background-color: rgb(165,209,196);
    border-radius:100%;
    border-top-right-radius: 0;
    margin-top: 3%;
    
}
.right-banner{
    width: 100%;
    height: 18%;
    
    background-color: #fff;
    background: url("banner5.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
.right-bottom-leaf{
    width: 40%;
    margin-left: 1%;
    height: 98.5%;
    background-color: rgb(58,119,138);
    border-radius: 100%;
    border-top-left-radius: 0;
    margin-top: 1%;
}
.left-bottom-back{
    width: 100%;
    height: 18%;
    background-color: rgb(58,119,138);
}
.left-bottom-content{
    width: 100%;
    height: 82%;
    float: left;
}
.strip{
    width: 100%;
    height: 7%;
    background-color: rgb(145,188,178);
}