body{
    background-color: #f6f6f6;
    font-size: 87.5%;
    font-family: sans-serif;
    line-height: 1.5;
    text-align: left;
}
.body{
    margin: 0 auto;
    width: 70%;
    clear: both;
}
a{
    text-decoration: none;
}
a:link,a:visited{
    color: darkorange;
}
a:hover,a:active{
    background-color: #fff;
    color: darkorange;
}
.mainHeader img{
    width: 20%;
    height: auto;
    margin: 2%;
}
.mainHeader nav{
    background-color: #666;
    height: 40px;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -o-border-radius: 4px;
    -webkit-border-radius: 4px;
}
.mainHeader nav ul{
    list-style: none;
}
.mainHeader nav ul li{
    float: left;
    display: inline;
}
.mainHeader nav ul li a{
    display: inline-block;
    line-height: 40px;
    padding: 0px 25px;
    color: #fff;
    font-size: 16px;
}
.mainHeader nav ul li a:hover,.mainHeader nav ul li a:active,.mainHeader nav .active a:link,.mainHeader nav ul li a:visited,.mainHeader nav ul li a:focus{
    background-color: darkorange;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -o-border-radius: 5px;
    -webkit-border-radius: 5px;
}
.mainContent{
    -moz-border-radius: 5px;
    -o-border-radius: 5px;
    -webkit-border-radius: 5px;
    line-height: 25px;
    
}
.content{
    width: 70%;
    float: left;
}
.subcontent{
    
}
.top-content{
    background-color: #fff;
    padding: 3% 5%;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -o-border-radius: 5px;
    margin:2% 2% 2% 0;
}
.bottom-content{
    background-color: #fff;
    padding: 3% 5%;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -o-border-radius: 5px;
    margin:2% 2% 2% 0;
}
.post-info{
    color: #cacaca;
    font-style: italic;
}
.top-sidebar{
    width: 20%;
    border-radius: 5px;
    -o-border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    padding: 2% 5%;
    background-color: #fff;
    float: left;
    margin-top: 1.6%;
    
}
.middle-sidebar{
    width: 20%;
    border-radius: 5px;
    -o-border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    padding: 2% 5%;
    background-color: #fff;
    float: left;
    margin-top: 1.6%;
}
.bottom-sidebar{
    width: 20%;
    border-radius: 5px;
    -o-border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    padding: 2% 5%;
    background-color: #fff;
    float: left;
    margin-top: 1.6%;
}
.mainFooter{
    width: 100%;
    float: left;
    background-color: #666;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -o-border-radius: 5px;
    -webkit-border-radius: 5px;
    margin: 2% auto;
    color: #fff;
    text-align: center;
    font-size: 17px;
}

@media only screen and (min-width:150px) and (max-width:650px){
 .body{
    width: 90%;
    }   
    .mainHeader img{
    width: 30%;
    }
    
    .mainHeader nav{
    height: 160px;
    }
.mainHeader nav ul{
    padding-left: 0px;
    
    
    }
.mainHeader nav ul li{
    width: 100%;
    text-align: center;
    }
.mainHeader nav ul li a{
    display: block;
    }
    
    .top-content{
    font-size: 95%;
        
    }
.bottom-content{
    font-size: 95%;
    }
    .content{
    width: 100%;
    }
    
    .top-sidebar{
    font-size: 95%;
    width: 89%;
    }
.middle-sidebar{
    font-size: 95%;
    width: 89%;
    }
.bottom-sidebar{
    font-size: 95%;
    width: 89%;
    }
    .mainFooter{
        font-size: 90%;
    }
}